@import "tailwindcss";

@keyframes bounce {
  0%, 20%, 53%, 80%, 100% {
    transform: translate3d(-50%, -50%, 0);
  }
  40%, 43% {
    transform: translate3d(-50%, -60%, 0);
  }
  70% {
    transform: translate3d(-50%, -55%, 0);
  }
  90% {
    transform: translate3d(-50%, -52%, 0);
  }
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.task-animation {
  animation: slideIn 0.3s ease-out;
}
